.container{
  width: 70%;
  margin: auto;
  text-align: center;
}
.DICEE
{
  display: inline-block;
  text-align: center;
}
body{
  background-color: #3d364d;
}
h1
{
  margin: 30px;
  font-family: 'Lobster',cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #abcfc2;
}
p{
  font-size: 2rem;
  color: #9fb581;
  font-family: 'Indie Flower', cursive;
}
img{
  width: 80%;
}
.fot{
    margin-top: 5%;
    margin-right: 5%;
}
a{
     display: inline-block;
  width: 5%;
  color: #FFFFFF;
}
h4{
  margin-left: 80%;
  margin-bottom: 5%;
  font-family: 'Indie Flower',cursive;
  display: inline-block;
  color: #FFFFFF;
}
